@import 'now-ui-dashboard/variables';

.test {
  background-color: lightgray;
}

a {
  text-decoration: underline !important;
  cursor: pointer;
}
.sidebar, .navbar {
  a {
    text-decoration: none !important;
  }
}

/* ALERTS */
.alert-container {
  margin-top: -1.5em;
  margin-bottom: 1em;

  .alert {
    margin: 0 0 0.2em 0;
  }
}

/* MEMBER DETAIL */
.member-detail {
  .list-group-item:first-child {
    padding-top: 1em;
  }
  .list-group-item {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }
}

// Remove border from list-group li's
.list-group.borderless li {
  border: 0;
}

// CUSTOM CARD HEADER BACKGROUND
.card {
  > .card-header {
    padding-top: 0;
    color: white;
    background-color: #212121; // Old browsers
    background: linear-gradient(90deg, #212121 0%,#474747 49%,#212121 99%);
    position: relative;
    overflow: hidden;
  }
}
.panel-header-sm {
  height: 50px;
  padding-top: 50px;
}

/* RESULTS */
.results {
  .head {
    background-color: $social-instagram;
    color: $white-color;
  }
  .subhead {
    background-color: $social-instagram-state-color;
    color: $white-color;
  }
  .deleted {
    background-color: $opacity-gray-3;
    color: $dark-gray;
  }
}

/** ADMIN SIDEBAR LAYOUT */
.sidebar:hover {
  .user {
    margin-top: 0;
    padding-top: 0;
  }
  .administering {
    display: block;
    padding-left: 3em;
    color: white;
    font-style: italic;
    font-size: 0.8em;
  }
  .loggedin {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    padding-right: 0.8em;
    color: white;
  }
}
.sidebar {
  .administering, .loggedin {
    display: none;
  }
}
.sidebar[data-color="orange"]:after, .off-canvas-sidebar[data-color="orange"]:after {
  background-color: #6e0000;
}

/** LINE GROUPS */
table {
  border-collapse: collapse;
  border: solid 1px $light-gray;

  td {
    border: solid 1px $light-gray;
    padding: 0.1em 0.3em;
  }

  thead {
    background-color: #0E2949;
    color: $white-color;
    font-weight: bold;
  }
}
/* EL-TABLE MODS */
.table > thead > tr > th, .el-table table > thead > tr > th {
  font-size: 1em;
  padding: 0.2em;
  text-align: center;
  font-weight: bold;
}

/* ADD DETAILS */
.add-details {
  position: relative;
  float: right;
  width: 30px;
  height: 20px;
  background-color: $success-color;
  color: white;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  border-top: none;
  text-align: center;
  &:hover {
    background-color: $success-color-opacity;
  }
}

/* MISCELLANEOUS MODIFIERS */
.bg-lightgray {
  background-color: lightgray;
}
.cursor-pointer {
  cursor: pointer;
}